body{
    /*background:url(../image/background.png) no-repeat;*/
    background-size:cover;
    background: #fefefe;
    margin:0;
    padding:0;
}
html{
    margin:0;
    pading:0;
}
ul,li{
    list-style:none;
    margin:0;
    padding:0;
}
input,textarea{
    border:1px solid #ddd;
    outline:none;
}
textarea{
    width: 6.8rem;
}
p{
    font-size:0.26rem;
}
#header>p{
    font-size: 0.4rem;
    margin-left: 2.2rem;
    color: #3BB4F0;
    font-weight: bold;
}
li{
    font-size:0.26rem;
    margin:0.1rem 0;
}
#question{
    width: 7.5rem;
    /*background: #fff;*/
    margin: 0.6rem auto;
}
#section{
    margin-top: 1rem;
}
#section p{
    font-size: 0.28rem;
    color: #000;
    display: inline-block;
    font-weight: normal;
    margin: 0;
    width: 6.9rem;
}
#section li input[type=text]{
    width: 4rem;
    padding-left: 0.1rem;
    height: 0.4rem;
    margin-left:0.3rem;
    font-size: 0.26rem;
    border: 1px solid #000;
    margin-right: 0.3rem;
}
#section li input[type=file]{
    width: 4rem;
    padding-left: 0.1rem;
    height: 0.52rem;
    margin-left:0.3rem;
    font-size: 0.26rem;
}
#section li i{
    font-style:normal;
    margin-left:0.2rem;
}
#question ul{
    padding-bottom: 0.1rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5rem;
}
#section li span{
    color:red;
    position:relative;
    top:0.02rem;
    left:0.04rem;
}
#section li label{
    margin-left:0.01rem;
}
#weight li input[type=text]{
    width:0.6rem;
}
#form{
    padding-left: 0.2rem;
}
#form>ul>li{
    margin-left:0.16rem;
    width:6.8rem;
}
#mask{
    position: absolute;
    top: 0;
    width: 100%;
    /*height: 100%;*/
    height:231rem;
    background: rgba(000,000,000,0.3);
    display:none;
}
#mask>div{
    width: 5rem;
    height: 6rem;
    background: #fff;
    border-radius: 0.2rem;
    /* margin: 0 auto; */
    /* margin-top: 225rem; */
    position: fixed;
    top: 3.3rem;
    left: 1.2rem;
}
#mask>div p{
    background: #13A5EC;
    color: #fff;
    height: 0.45rem;
    line-height: 0.45rem;
    padding-left: 0.2rem;
    border-radius: 0.2rem 0.2rem 0 0;
    position: relative;
    bottom: 0.26rem;
}
#mask>div textarea{
    width: 3.6rem;
    margin-top: -0.2rem;
    height: 4.0rem;
    margin-left: 0.7rem;
    border: none;
    text-align: center;
}
#mask>div input{
    width: 1rem;
    height: 0.46rem;
    background: #13A5EC;
    border: none;
    color: #fff;
    border-radius: 0.05rem;
    margin-left: 2.2rem;
    cursor: pointer;
    position: relative;
    bottom: 0.7rem;
}
b{
    font-weight:normal;
}


