body{
    background:url(../pc/image/background.png) no-repeat;
    background-size:cover;
}
html{
    margin:0;
    pading:0;
}
ul,li{
    list-style:none;
    margin:0;
    padding:0;
}
input,textarea{
    border:1px solid #ddd;
    outline:none;
}
p{
    font-size:16px;
}
#header>p{
    font-size:30px;
    margin:0;
    color:#fff;
}
li{
    font-size:16px;
    margin:10px 0;
}
#question{
    width: 820px;
    /*background: #fff;*/
    margin: 60px auto;
    margin-bottom:0;
}
#section{
    margin-top: 200px;
    background: #fff;
    padding: 60px;
}
#section p{
    font-szie:16px;
    color:#4d4d4d;
    display:inline-block;
    font-weight:bold;
    margin:0;
}
#section li input[type=text]{
    width: 400px;
    padding-left: 10px;
    height: 26px;
    margin-left:30px;
}
#section li i{
    font-style:normal;
    margin-left:20px;
}
#question ul{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 50px;
}
#section li span{
    color:red;
    position:relative;
    top:2px;
    left:4px;
}
#section li label{
    margin-left:10px;
}
#weight li input[type=text]{
    width:60px;
}
#mask{
    position: absolute;
    top: 0;
    width: 100%;
    /*height: 100%;*/
    background: rgba(000,000,000,0.3);
    display:none;
}
#mask>div{
    width: 500px;
    height: 270px;
    background: #fff;
    border-radius: 20px;
    margin: 0 auto;
    position: fixed;
    top: 60px;
    left: 700px;

}
#mask>div p{
    background: #13A5EC;
    color: #fff;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    border-radius: 20px 20px 0 0;
    position: relative;
    bottom: 20px;
}
#mask>div textarea{
    width: 360px;
    margin-top: 20px;
    height: 120px;
    margin-left: 70px;
    border: none;
    text-align: center;
}
#mask>div input{
    width: 60px;
    height: 30px;
    background: #13A5EC;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-left: 220px;
    cursor:pointer;
}
b{
    font-weight:normal;
}


