
{% extends "customer/customer_add.html" %}
{% load i18n admin_static admin_modify static adminlte_tags %}

{% block main_form_footer %}
    <button type="submit" style="width:108px" class="btn btn-primary">保 存</button>
    <button type="submit" style="width:108px" class="btn btn-primary" name="_continue">保存&编辑</button>
    <button type="button" style="width:108px" class="btn btn-danger" v-on:click="delete({{ object.id }}, $event)">删 除</button>
{% endblock %}


{% block inline_formset %}
{% if address_forms|length %}
<div id="inline_formset">
    <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">问卷回答</h3>
    </div>

    <div id="{{ address_forms.prefix }}_table" class="box-body form-horizontal">
        <div class="form-group hidden-xs hidden-sm">
            <div class="col-xs-1">
                <b>日期</b>
            </div>
            <div class="col-xs-1">
                <b>状态</b>
            </div>
            <div class="col-xs-3">
                <b>查看</b>
            </div>
        </div>

        {{ address_forms.management_form }}
        <input id="address_forms_length" name="address_forms_length" type="hidden" value="{{ address_forms|length }}">

        {% for address in address_forms %}
        <div class="form-group {% if forloop.counter0|divisibleby:2 %}even{% else %}odd{% endif %}"
             id="{{ address_forms.prefix }}-{{ forloop.counter0 }}"{% if address.instance.pk %} data-pk="{{ address.instance.pk }}"{% endif %}>
            {{ address.id }}
            {{ address.customer }}
            <div class="visible-xs visible-sm col-xs-2 ln34">日期</div>
            <div class="col-lg-1 col-md-1 col-xs-3">
                {{ address.name }}
            </div>
            <div class="visible-xs visible-sm col-xs-2 ln34">状态</div>
            <div class="col-lg-1 col-md-1 col-xs-5">
                {{ address.mobile }}
            </div>
            <div class="visible-xs visible-sm col-xs-2 ln34">查看</div>
            <div class="col-lg-3 col-md-3 col-xs-10">
                {{ address.address }}
            </div>
            <div class="col-lg-1 col-md-1 hidden-xs hidden-sm">
                <a href="javascript:void(0)" class="ln34 delete_express" v-on:click="delete_address">
                    <i style="color:#dd4b39;margin-left:15px" class="fa fa-lg fa-times-circle"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    </div><!-- //expressorders -->
</div>
{% endif %}
{% endblock %}


{% block inline_formset_template %}
    <div class="hide" id="{{ address_forms.prefix }}_template">
        <div class="form-group">
            <input id="id_{{ address_forms.prefix }}-customer" name="{{ address_forms.prefix }}-customer" type="hidden" value="{{ object.id }}">
{#            {{ new_address_forms.customer }}#}
            <div class="visible-xs visible-sm col-xs-2 ln34">姓名</div>
            <div class="col-lg-1 col-md-1 col-xs-4">
                {{ new_address_forms.name }}
            </div>
            <div class="visible-xs visible-sm col-xs-2 ln34">手机</div>
            <div class="col-lg-1 col-md-1 col-xs-4">
                {{ new_address_forms.mobile }}
            </div>
            <div class="visible-xs visible-sm col-xs-2 ln34">地址</div>
            <div class="col-lg-3 col-md-3 col-xs-10">
                {{ new_address_forms.address }}
            </div>
            <div class="col-lg-1 col-md-1 hidden-xs hidden-sm">
                <a href="javascript:void(0)" class="ln34 delete_express" v-on:click="delete_address">
                    <i style="color:#dd4b39;margin-left:15px" class="fa fa-lg fa-times-circle"></i>
                </a>
            </div>
        </div><!-- //address_template -->
    </div>
{% endblock %}

{% block footer_page_script %}
    <script>
        var customerEditPageVue = new CommonFormPageVue({
            data: {
                list_api_tag: 'api:customer-list',
                delete_api_tag: 'api:customer-delete',
                detail_api_tag: 'api:customer-detail',

                create_url_tag: 'customer:customer-add',
                list_url_tag: 'customer:customer-list',
                detail_url_tag: 'customer:customer-detail',
                update_url_tag: 'customer:customer-update'
            }
        });
    </script>
{% endblock %}