@page {
    size: A4 portrait;
    margin: 5mm;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
        font-family: Hiragino Sans GB;
    }
}

html {
    color: #4b4b4d;
    font-size: 4mm;
    line-height: 7mm;
}

body {
}

.page {
    margin: 0 auto;

}

.header {
    margin: 40px auto 10px auto;
    text-align: center;
}

.header .title {
    font-size: 8mm;
}

.header td, th {
    text-align: center;

}

.header h1 {
    display: inline-block;
}

table, .table {
    width: 96%;
}

td, th {
    text-align: left;
    vertical-align: middle;
}

th {
    font-weight: bold;
}

.info {
    width: 70%;
    margin-left: 10px;
}

.skin, .cosmetic {
}

.habit th {
    vertical-align: top;
}

.habit tr {
    padding-top: 10px;
    border-bottom: 1px solid #DDDDDD;
}

.habit tr:last-child {
    border-top: 0;
}

.habit {
    margin-left: 10px;
    margin-right: 10px;
}

.habit ul {
}

.page-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}
