@page {
    size: a4 portrait;
    @frame content_frame {
    left: 0pt;
    width: 210mm;
    top: 0pt;
    height: 297mm;
}
}

html {
    color: #4b4b4d;
    font-size: 4.23mm;
    line-height: 4.23mm;
}

body {
    width: 960px;
    margin: 0 auto;
}

.page {

}

.header {
    margin-top: 10mm;
    text-align: center;
}

.header td, th {
    text-align: center;

}

.header h1 {
    display: inline-block;
}

table {
    line-height: 7.06mm;
    width: 98%;
    margin: 0 auto;
}

td, th {
    text-align: left;
    vertical-align: middle;
}

th {
    font-weight: bold;
}

.info {
    width: 70%;
    margin-left: 10px;
}

.skin, .cosmetic {
    font-size: 3.9mm;
}

.habit th {
    vertical-align: top;
}

.habit tr {
    padding-top: 2mm;
    border-bottom: 1px solid #DDDDDD;
}

.habit tr:last-child {
    border-top: 0;
}

.habit {
    margin-left: 10mm;
    margin-right: 10mm;
}

.habit ul {
    line-height: 4mm;
}

.page-wrapper {
    margin-left: 10mm;
    margin-right: 10mm;
}
