@page {
    size: A4 portrait;
    margin: 5mm;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
        font-family: "WenQuanYi Micro Hei", 'Hiragino Kaku Gothic Pro', 'WenQuanYi Zen Hei', '微軟正黑體', '蘋果儷中黑', 'Hiragino Sans GB', Helvetica, Arial, sans-serif;
    }
}

html {
    color: #4b4b4d;
    font-size: 4mm;
    line-height: 7mm;
    font-family: "WenQuanYi Micro Hei", 'Hiragino Kaku Gothic Pro', 'WenQuanYi Zen Hei', '微軟正黑體', '蘋果儷中黑', 'Hiragino Sans GB', Helvetica, Arial, sans-serif;
}

body {
}

.page {
    margin: 0 auto;

}

.header {
    margin: 40px auto 10px auto;
    text-align: center;
}

.header .title {
    font-size: 8mm;
}

.header td, th {
    text-align: center;

}

.header h1 {
    display: inline-block;
}

table, .table {
    width: 96%;
}

td, th {
    text-align: left;
    vertical-align: middle;
}

th {
    font-weight: bold;
}

.info {
    width: 70%;
    margin-left: 10px;
}

.habit th {
    vertical-align: top;
}

.habit tr {
    padding-top: 10px;
    border-bottom: 1px solid #DDDDDD;
}

.habit tr:last-child {
    border-top: 0;
}

.habit {
    margin-left: 10px;
    margin-right: 10px;
}

.habit ul {
    padding: 0;
}

.habit ul li {
    list-style-type: none;
}

.page-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

div.product_section {
    clear: both;
    width: 100%;
}

div.product {
    width: 235px;
    height: 200px;
    float: left;
    text-align: center;
}

img.product_pic {
    height: 120px;
    width: 120px;
}

div.clearfix {
    clear: both;
}

.cosmetic td {
    /*vertical-align: top;*/
}

.cosmetic td:first-child {
    border-right: 1px solid #ddd;
}

table.cosmetic {
    border-collapse: collapse;
}

.cosmetic tr {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}