{% extends "adminlte/common_detail.html" %}
{% load static adminlte_tags survey_filters %}

{% block form_table %}
    <div class="box-body table-responsive">
        <p>目标: {{ object.purpose|default:"" }}</p>
        <p>价位: {{ object.level|default:"" }}</p>
        <p>当前状态: {{ object.get_status_display|default:"" }}</p>
        <p>可否修改: {{ object.is_changeable|yesno:"是,否" }}</p>
        <p>创建日期: {{ object.created_at|default:"" }}</p>

        <table class="table">
            {% for field in fields %}
                {% if field != 'id' %}
                    <tr>
                        {% if field|startswith:"cosmetic_products" %}
                            <th>{{ cosmetics_title|hash:field }}</th>
                        {% else %}
                            <th>{{ object|render_field_label:field }}</th>
                        {% endif %}
                    </tr>
                    <tr>
                        {% if field|startswith:"question" %}
                            <td>{{ form|selected_choice:field }}</td>
                        {% else %}
                            {% if field|startswith:"cosmetic_products" %}
                                <td>{{ object|render_products:field|safe }}</td>
                            {% else %}
                                {% if field in 'cosmetics,portrait_part,portrait' %}
                                    <td>
                                        {#                                        {{ object|get_field_value:field }}#}
                                        {% include 'survey/includes/rotatable_thumbnail.html' with object=object field=object|get_field_value:field field_name=field %}
                                    </td>
                                {% else %}
                                    <td>{{ object|render_field_value:field|safe }}</td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block footer_page_script %}
    <script>
        function rotate_thumbnail(pk, direction, field_name) {
            var url = "/api/survey/answer/rotate/" + pk + "/";
            console.log(direction);
            console.log(field_name);
            console.log(pk);

            $.ajax({
                type: "POST",
                url: url,
                data: {'direction': direction, 'field_name': field_name},
                dataType: 'json',
                cache: false,
                success: function (response) {
                    var img = $("#thumbnail-" + field_name);
                    console.log(img);
                    console.log(img.attr('src'));
                    img.attr('src', img.attr('src') + '?' + Math.random());
                    console.log(response)
                },
                error: function (response) {

                }
            });

            return false;
        }
    </script>
{% endblock %}
