{% extends "adminlte/common_list.html" %}
{% load static %}

{% block table_head %}
    <th class="text-center" style="width:65px;">
        <input type="checkbox" name="checkboxAllRow" class="checkboxAllRow" v-on:click="toggleAllBox"/>
    </th>
    <th>姓名</th>
    <th>邀请码</th>
    <th>过期</th>
    <th>问卷链接</th>
    <th class="hidden-sm hidden-xs"></th>
{% endblock %}

{% block table_row %}
    <tbody v-for="item in items">
    <tr>
        <td class="text-center">
            ##[$index+1]
            <input type="checkbox" class="minimal" name="checkboxRow" value="#[item.id]"/>
        </td>
        <td>{!! item.name !!}</td>
        <td>{!! item.uuid !!}</td>
        <td>{!! item.expiry_at !!}</td>
        <td>
            <a href="{!! item.qrcode_url !!}" target="_blank">二维码</a>
            <a href="{!! item.invite_url !!}" target="_blank">问卷链接</a>
            <button data-url="{{ request.scheme }}://{{ request.get_host }}{!! item.invite_url !!}"
                    onclick="copyClipboard(this)">复制问卷链接
            </button>
        </td>

        {% block item_buttons %}
            {{ block.super }}
        {% endblock %}
    </tr>
    </tbody>
{% endblock %}

{% block common_list_footer_page_script %}
    <script type="text/javascript" src="{% static 'js/survey/invitecode_list.js' %}"></script>

    <script>
        function copyClipboard(event) {
            var url = $(event).data("url");
            var tempInput = document.createElement("input");
            tempInput.style = "position: absolute; left: -1000px; top: -1000px";
            tempInput.value = url;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand("copy");
            document.body.removeChild(tempInput);
        }
    </script>
{% endblock %}
