<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">导航</li>

{#            {% include "dashboard/_menu.html" %}#}

            {% include "weixin/_menu.html" %}

            {% include "brand/_menu.html" %}

            {% include "product/_menu.html" %}

            {% include "premium_product/_menu.html" %}

            {% include "analysis/_menu.html" %}

            {% include "survey/_menu.html" %}

            {% include "report/_menu.html" %}
        </ul>
    </section>
</aside>
