<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">导航</li>

{#            <li class="active">#}
{#                <a href="{% url 'member:member-home' %}">#}
{#                    <i class="fa fa-dashboard"></i>#}
{#                    <b>{{ default_dashboard_title|default:"首页" }}</b>#}
{#                </a>#}
{#            </li>#}

            {% include "dashboard/_menu.html" %}

            {% include "customer/_menu.html" %}

            {% include "product/_menu.html" %}

            {% include "premium_product/_menu.html" %}

        </ul>
    </section>
</aside>
