{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Action28肌肤测试问卷</title>
    <link rel="stylesheet" href="{% static 'css/survey/pc.css' %}"/>
    <script src="{% static 'plugins/jQuery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/frontend/index.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
</head>
<body>
<div></div>

 <div id="question">
<div id="header">
    <p>Action28肌肤测试问卷</p>
    <!--<img src=".././assets/logo.png">-->
</div>
     <div id="section">
         <form id="form" method="post" action="">
             {% csrf_token %}
             {{ form.uuid }}

{% include 'survey/includes/question.html' with field=form.name number=1 %}
{% include 'survey/includes/question.html' with field=form.sex  number=2 %}
{% include 'survey/includes/question.html' with field=form.portrait number=3 %}
{% include 'survey/includes/question.html' with field=form.portrait_part number=4 %}
{% include 'survey/includes/question.html' with field=form.cosmetics number=5 %}
{% include 'survey/includes/question.html' with field=form.birth number=6 %}

 <ul id="weight">
     <li></li>
     <li>7、您的身高{{ form.height }} CM，体重{{ form.weight }} KG？<span>*</span></li>
     <li></li>
 </ul>

{% include 'survey/includes/question.html' with field=form.job number=8 %}
{% include 'survey/includes/question.html' with field=form.monthly_income number=9 %}
{% include 'survey/includes/question.html' with field=form.weixin_id number=10 %}
{% include 'survey/includes/question.html' with field=form.mobile number=11 %}


 <!-- # 12-21 干油 -->
{% include 'survey/includes/question.html' with field=form.question1 number=12 %}
{% include 'survey/includes/question.html' with field=form.question2 number=13 %}
{% include 'survey/includes/question.html' with field=form.question3 number=14 %}
{% include 'survey/includes/question.html' with field=form.question4 number=15 %}
{% include 'survey/includes/question.html' with field=form.question5 number=16 %}
{% include 'survey/includes/question.html' with field=form.question6 number=17 %}
{% include 'survey/includes/question.html' with field=form.question7 number=18 %}
{% include 'survey/includes/question.html' with field=form.question8 number=19 %}
{% include 'survey/includes/question.html' with field=form.question9 number=20 %}
{% include 'survey/includes/question.html' with field=form.question10 number=21 %}

 <!-- # 22-32 是敏感 -->
{% include 'survey/includes/question.html' with field=form.question11 number=22 %}
{% include 'survey/includes/question.html' with field=form.question12 number=23 %}
{% include 'survey/includes/question.html' with field=form.question13 number=24 %}
{% include 'survey/includes/question.html' with field=form.question14 number=25 %}
{% include 'survey/includes/question.html' with field=form.question15 number=26 %}
{% include 'survey/includes/question.html' with field=form.question16 number=27 %}
{% include 'survey/includes/question.html' with field=form.question17 number=28 %}
{% include 'survey/includes/question.html' with field=form.question18 number=29 %}
{% include 'survey/includes/question.html' with field=form.question19 number=30 %}
{% include 'survey/includes/question.html' with field=form.question20 number=31 %}
{% include 'survey/includes/question.html' with field=form.question21 number=32 %}

<!-- # 33-41 是色素 -->
{% include 'survey/includes/question.html' with field=form.question22 number=33 %}
{% include 'survey/includes/question.html' with field=form.question23 number=34 %}
{% include 'survey/includes/question.html' with field=form.question24 number=35 %}
{% include 'survey/includes/question.html' with field=form.question25 number=36 %}
{% include 'survey/includes/question.html' with field=form.question26 number=37 %}
{% include 'survey/includes/question.html' with field=form.question27 number=38 %}
{% include 'survey/includes/question.html' with field=form.question28 number=39 %}
{% include 'survey/includes/question.html' with field=form.question29 number=40 %}
{% include 'survey/includes/question.html' with field=form.question30 number=41 %}

 <!-- # 42-49 是皱纹 -->
{% include 'survey/includes/question.html' with field=form.question31 number=42 %}
{% include 'survey/includes/question.html' with field=form.question32 number=43 %}
{% include 'survey/includes/question.html' with field=form.question33 number=44 %}
{% include 'survey/includes/question.html' with field=form.question34 number=45 %}
{% include 'survey/includes/question.html' with field=form.question35 number=46 %}
{% include 'survey/includes/question.html' with field=form.question36 number=47 %}
{% include 'survey/includes/question.html' with field=form.question37 number=48 %}
{% include 'survey/includes/question.html' with field=form.question38 number=49 %}

 <!-- # 不记分选择题 50-64 -->
{% include 'survey/includes/question.html' with field=form.non_score_question1 number=50 %}
{% include 'survey/includes/question.html' with field=form.non_score_question2 number=51 %}
{% include 'survey/includes/question.html' with field=form.non_score_question3 number=52 %}
{% include 'survey/includes/question.html' with field=form.non_score_question4 number=53 %}
{% include 'survey/includes/question.html' with field=form.non_score_question5 number=54 %}
{% include 'survey/includes/question.html' with field=form.non_score_question6 number=55 %}
{% include 'survey/includes/question.html' with field=form.non_score_question7 number=56 %}
{% include 'survey/includes/question.html' with field=form.non_score_question8 number=57 %}
{% include 'survey/includes/question.html' with field=form.non_score_question9 number=58 %}
{% include 'survey/includes/question.html' with field=form.non_score_question10 number=59 %}
{% include 'survey/includes/question.html' with field=form.non_score_question11 number=60 %}
{% include 'survey/includes/question.html' with field=form.non_score_question12 number=61 %}
{% include 'survey/includes/question.html' with field=form.non_score_question13 number=62 %}
{% include 'survey/includes/question.html' with field=form.non_score_question14 number=63 %}
{% include 'survey/includes/question.html' with field=form.non_score_question15 number=64 %}

 <!-- # 非选项问题 65-72 -->
{% include 'survey/includes/question.html' with field=form.cosmetic_question1 number=65 %}
{% include 'survey/includes/question.html' with field=form.cosmetic_question2 number=66 %}
{% include 'survey/includes/question.html' with field=form.cosmetic_question3 number=67 %}
{% include 'survey/includes/question.html' with field=form.cosmetic_question4 number=68 %}
{% include 'survey/includes/question.html' with field=form.cosmetic_question5 number=69 %}
{% include 'survey/includes/question.html' with field=form.cosmetic_question6 number=70 %}
{% include 'survey/includes/question.html' with field=form.cosmetic_question7 number=71 %}
{% include 'survey/includes/question.html' with field=form.cosmetic_question8 number=72 %}

 <!-- # 73-74 其他问题 -->
{% include 'survey/includes/question.html' with field=form.other_question1 number=73 %}
{% include 'survey/includes/question.html' with field=form.other_question2 number=74 %}

             {{ form.errors }}
             <input type="submit" value="submit" />
             <input type="button" value="提交" id="button" onclick="bthClick()"/>
         </form>
     </div>
 </div>
 <div id="mask">
     <div>
         <p>温馨提示</p>
         <textarea readonly>您有3、5、26题没有填写，请填写完成</textarea>
         <input type="button" value="继续" id="goon"/>
     </div>
 </div>

<script>

</script>

</body>
</html>
