
{% extends "adminlte/base.html" %}
{% load adminlte_tags %}

{% block content_title %}
    <b>综合面板</b>
{% endblock %}
{% block breadcrumb %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-info">
                <div class="box-body table-responsive no-padding">

                    <h3>asdgsdg</h3>
                    <a href="/media/pic.zip">sadf</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
