<ul>
    <li><p>{{ field.label }}</p>{% if field.field.required %}<span>*</span>{% endif %}</li>
    {% if field.help_text %}
        <li><i>{{ field.help_text }}</i></li>
    {% endif %}

    {{ field }}
    {% for choice in field %}
		{{ choice.tag }}
		<li>
            <label for="{{ choice.id_for_label }}">
                <span>{{ choice.choice_label }}</span>
            </label>
        </li>
	{% endfor %}
    {% if field.errors %}
        <li><i>{{ field.errors }}</i></li>
	{% endif %}
</ul>

