<ul>
    <li>
        <p>{{ field.label }}</p>
        {{ formset.management_form }}
    </li>
    <li class="hufupin">
        <div>
            <span>
                <input type="text" placeholder="请选择品牌" class="onkeyDownSearch"/><i></i>
            </span>
            <ul class="hufupin1" cate="12">
            </ul>

            <input class="span1" onclick="spanClick(this)" placeholder="请选择产品">
            <ul class="hufupin2 pin">
            </ul>
        </div>
        <div>
            <input type="text" placeholder="手动输入产品名称" class="handInp"/>
            <a class="add" onclick="add(this)">添加</a>

            <ul class="ulcontainer" id="re_name">
                {% for form in formset %}
                    <li>
                        <span>{{ form.name.value }}</span>
                        {{ form.id }}
                        {{ form.product }}
                        {{ form.name }}
                        {{ form.DELETE }}
                    </li>
                {% endfor %}
            </ul>
        </div>
{#        <input type="hidden" name="re_name" value="" class="re_name"/>#}
    </li>
</ul>
