<ul>
    <li>
        <p>{{ field.label }}</p>
    </li>
    <li class="hufupin">
        <div>
            <span>
                <input type="text" placeholder="请选择品牌" class="onkeyDownSearch"/><i></i>
            </span>
            <ul class="hufupin1" cate="12">
            </ul>

            <input class="span1" placeholder="请选择产品">
            <ul class="hufupin2 pin">
            </ul>
        </div>
        <div>
            {{ formset.management_form }}
            <input type="text" placeholder="手动输入产品名称" class="handInp"/>
            <a class="add" onclick="add(this)">添加</a>

            <ul class="ulcontainer" id="{{ formset.prefix }}">

                {% for form in formset %}
                    {% if form.id.value %}
                        <li class="{% cycle row1 row2 %} formset_row">
                            <span>{{ form.name.value }}</span>
                            {{ form.id }}
                            {{ form.product }}
                            {{ form.name }}
                            {{ form.DELETE }}
                        </li>
                    {% else %}
                        <li id="template" style="display: none">
                            {{ form.id }}
                            {{ form.product }}
                            {{ form.name }}
{#                            {{ form.DELETE }}#}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {#        <input type="hidden" name="re_name" value="" class="re_name"/>#}
    </li>
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        window.{{ formset.prefix }} = $('#{{ formset.prefix }} .formset_row').formset({
            addText: 'add new',
            prefix: '{{ formset.prefix }}',
            formTemplate: '#{{ formset.prefix }} #template',
            addCssClass: 'btn btn-success formset-add hide',
            deleteCssClass: 'remove-day-products',
            formCssClass: 'dynamic-form',
            deleteText: '<i style="color:#dd4b39" class="fa fa-lg fa-trash"></i>'
        });
    });
</script>
