<ul id="{{ number }}">
    <li>
        <p>{{ label }}</p>
    </li>
    <li class="hufupin">
        <div>
            <span style="display:none;">
                <input type="text" placeholder="请选择品牌" class="hide onkeyDownSearch"/><i></i>
            </span>
            <ul class="hufupin1" cate="12">
            </ul>

            <input type="text" class="span1 half" placeholder="请搜索产品名称" data-category="{{ category }}">
            <ul class="hufupin2 pin">
            </ul>
        </div>
        <div>
            {{ formset.management_form }}
            <input type="text" placeholder="搜索不到请手动输入产品名称" class="handInp"/>
            <a class="add" onclick="add(this)">添加</a>

            <ul class="ulcontainer" id="{{ formset.prefix }}">
                {% for form in formset %}
                    {% if form.id.value %}
                        <li class="{% cycle row1 row2 %} formset_row">
                            <span>
                                {% if form.instance.product %}
                                    {{ form.instance.product }}
                                {% else %}
                                    {{ form.name.value }}
                                {% endif %}
                            </span>
                            {{ form.id }}
                            {{ form.product }}
                            {{ form.name }}
                            {{ form.DELETE }}
                        </li>
                    {% else %}
                        <li class="formset_row" id="template" style="display: none">
                            {{ form.id }}
                            {{ form.product }}
                            {{ form.name }}
{#                            {{ form.DELETE }}#}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </li>
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        window.{{ formset.prefix }} = $('#{{ formset.prefix }} .formset_row').formset3({
            addText: 'add new',
            prefix: '{{ formset.prefix }}',
            formTemplate: '#{{ formset.prefix }} #template',
            addCssClass: 'btn btn-success formset-add hide',
            deleteCssClass: 'remove-day-products',
            formCssClass: 'dynamic-form',
            deleteText: '<i style="color:#dd4b39" class="fa fa-lg fa-trash"></i>'
        });
    });
</script>
