{% extends "adminlte/common_form.html" %}
{% load static adminlte_tags %}

{% block form_content %}
    <div class="pull-left" style="width:210px">
        {{ form.pic }}
    </div>

    <div class="col-xs-8">
        {% for field in form %}
            {% if not field.name == "pic" %}
                <div class="form-group {% if field.errors %}error{% endif %} {% if field.is_hidden %}hide{% endif %}">
                    <label for="id_{{ field.name }}" class="col-sm-2 col-xs-3 control-label">{{ field.label }}</label>
                    <div class="col-sm-6 col-xs-9">
                        {{ field }}
                    </div>
                    {% if field.errors %}
                        <div class="col-sm-4 col-xs-12">
                            {{ field.errors }}
                            <span class="help-block">{{ field.help_text }}</span>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block inline_formset %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">产品适应的肤质组合</h3>
        </div>

        <div class="box-body form-horizontal">
            <table id="attachments-table" class="col-xs-12">
                {{ premiumproductfit_formset.management_form }}
                <thead>
                <tr>
                    <th></th>
                    {% with premiumproductfit_formset.forms|first as first_premiumproductfit_form %}
                        {% for field in first_premiumproductfit_form.visible_fields %}
                            <th><label>{{ field.label }}</label></th>
                        {% endfor %}
                    {% endwith %}
                    <th></th>
                </tr>
                </thead>
                <tbody id="{{ premiumproductfit_formset.prefix }}_table">
                {% for form in premiumproductfit_formset.forms %}
                    <tr class="{% cycle row1 row2 %} formset_row">
                        <td>
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        </td>
                        {% for field in form.visible_fields %}
                            <td class="{% if form.type.errors %}error{% endif %}">
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <button type="submit" style="width:108px" class="btn btn-primary">保 存</button>
            <button type="submit" style="width:108px" class="btn btn-primary" name="_continue">保存 & 编辑</button>
        </div>
    </div>

    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        function initChosen() {
            $("#{{ premiumproductfit_formset.prefix }}_table select").chosen({
                search_contains: true,
                disable_search_threshold: 10,
                width: "90%"
            });
        }

        jQuery(document).ready(function ($) {
            initChosen();

            $('#{{ premiumproductfit_formset.prefix }}_table .formset_row').formset({
                addText: '添加新组合',
                prefix: '{{ premiumproductfit_formset.prefix }}',
                addCssClass: 'btn btn-success',
                deleteCssClass: 'remove-recipe-ingredient',
                formCssClass: 'dynamic-form',
                deleteText: '<i style="color:#dd4b39" class="fa fa-lg fa-trash"></i>',
                added: function () {
                    // jquery choosen init
                    initChosen();
                }
            });
        });
    </script>
{% endblock %}

{% block footer_page_script %}
    <script>
        var premiumproductEditPageVue = new CommonFormPageVue({
            data: {
                list_api_tag: 'api:premiumproduct-list',
                delete_api_tag: 'api:premiumproduct-delete',
                detail_api_tag: 'api:premiumproduct-detail',

                create_url_tag: 'premium_product:premiumproduct-add',
                list_url_tag: 'premium_product:premiumproduct-list',
                detail_url_tag: 'premium_product:premiumproduct-detail',
                update_url_tag: 'premium_product:premiumproduct-update'
            }
        });
    </script>
{% endblock %}