<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">产品成分</h3>
    </div>

    {% if not object.ingredients.all %}
        <span>目前没有成分信息.</span>
    {% else %}
        <table>
            <tr>
                <th class="col-xs-3">名称</th>
                <th class="col-xs-1">安全风险</th>
                <th class="col-xs-1">活性成分</th>
                <th class="col-xs-1">致痘风险</th>
                <th class="col-xs-5">使用目的</th>
            </tr>
            {% for redient in object.ingredients.all %}
                <tr>
                    <td>{{ redient.name }}</td>
                    <td>{{ redient.safe }}</td>
                    <td>{{ redient.is_live|yesno:"是,否" }}</td>
                    <td>{{ redient.is_pox|yesno:"是,否" }}</td>
                    <td>{{ redient.effect }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
