<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">产品成分</h3>
    </div>

    <div id="{{ productingredient_formset.prefix }}_table" class="box-body form-horizontal">
        <div class="form-group hidden-xs hidden-sm">
            <div class="col-xs-3">
                <b>名称</b>
            </div>
            <div class="col-xs-1">
                <b>安全风险</b>
            </div>
            <div class="col-xs-1">
                <b>活性成分</b>
            </div>
            <div class="col-xs-1">
                <b>致痘风险</b>
            </div>
            <div class="col-xs-5">
                <b>使用目的</b>
            </div>
            <div class="col-xs-1">
            </div>
        </div>

        {% if productingredient_formset.management_form.initial.INITIAL_FORMS == 0 %}
            <span>目前没有成分信息.</span>
        {% else %}
            {% for productingredient in productingredient_formset %}
                {% if productingredient.id.value %}
                    <div class="form-group formset_row {% if forloop.counter0|divisibleby:2 %}even{% else %}odd{% endif %}"
                         id="{{ productingredient_formset.prefix }}-{{ forloop.counter0 }}"
                            {% if productingredient.instance.pk %}
                         data-pk="{{ productingredient.instance.pk }}"{% endif %}>

                        <div class="visible-xs visible-sm col-xs-2 ln34">名称</div>
                        <div class="col-lg-3 col-md-3 col-xs-10">
                            {{ productingredient.name.value }}
                        </div>
                        <div class="visible-xs visible-sm col-xs-2 ln34">安全风险</div>
                        <div class="col-sm-1 col-xs-2">
                            {{ productingredient.is_safe.value|yesno:"安全,不安全" }}
                        </div>
                        <div class="visible-xs visible-sm col-xs-2 ln34">活性成分</div>
                        <div class="col-sm-1 col-xs-2">
                            {{ productingredient.is_live.value|yesno:"是,否" }}
                        </div>
                        <div class="visible-xs visible-sm col-xs-2 ln34">致痘风险</div>
                        <div class="col-sm-1 col-xs-2">
                            {{ productingredient.is_pox.value|yesno:"是,否" }}
                        </div>
                        <div class="visible-xs visible-sm col-xs-2 ln34">使用目的</div>
                        <div class="col-sm-6 col-xs-9">
                            {{ productingredient.effect.value }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="box-footer">
        <a href="?component_edit" style="width:108px" class="btn btn-primary">编辑成分</a>
    </div>
</div><!-- //expressorders -->
