{% extends "adminlte/common_list.html" %}
{% load static %}

{% block table_head %}
  <th class="text-center hidden-sm hidden-xs" style="width:60px;">
    <input type="checkbox" name="checkboxAllRow" class="checkboxAllRow" v-on:click="toggleAllBox"/>
  </th>
  <th>Logo</th>
  <th>英文名称</th>
  <th>英文首字母</th>
  <th>中文名称</th>
  <th>中文首字母</th>

  <th class="hidden-sm hidden-xs"></th>
{% endblock %}

{% block table_row %}
  <tbody v-for="item in items">
  <tr>
    <td class="text-center hidden-sm hidden-xs">
      ##[$index+1]
      <input type="checkbox" class="minimal" name="checkboxRow" value="#[item.id]"/>
    </td>
    <td>
      <img v-if="item.logo" style="height:75px" src="{!! item.logo !!}"/>
    </td>
    <td><a href="{!! item.edit_url !!}">{!! item.name_en !!}</a></td>
    <td>{!! item.first_letter_en !!}</td>
    <td><a href="{!! item.edit_url !!}">{!! item.name_cn !!}</a></td>
    <td>{!! item.first_letter_cn !!}</td>

    {% block item_buttons %}
      {{ block.super }}
    {% endblock %}
  </tr>
  </tbody>
{% endblock %}

{% block common_list_footer_page_script %}
  <script type="text/javascript" src="{% static 'js/brand/brand_list.min.js' %}"></script>
{% endblock %}
