{% extends "adminlte/common_list.html" %}
{% load static %}

{% block common_list_buttons %}
<div class="col-xs-5 col-sm-6">
    {% if page_model_perms.add %}
      <a class="btn btn-primary" id="create">
        <i class="fa fa-plus"></i>新增
      </a>
    {% endif %}
</div>
{% endblock %}

{% block tab_content %}
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#a-c" data-toggle="tab">A-Z</a></li>
                <li class=""><a href="#d-g" data-toggle="tab">D-G</a></li>
                <li class=""><a href="#h-k" data-toggle="tab">H-K</a></li>
                <li class=""><a href="#l-o" data-toggle="tab">L-O</a></li>
                <li class=""><a href="#p-s" data-toggle="tab">P-S</a></li>
                <li class=""><a href="#t-w" data-toggle="tab">T-W</a></li>
                <li class=""><a href="#x-z" data-toggle="tab">X-Z</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="a-c">
                    {% include 'brand/includes/brand_tab.html' with start='A' end='C' %}
                </div>
                <div class="tab-pane" id="d-g">
                    {% include 'brand/includes/brand_tab.html' with start='D' end='G' %}
                </div>
                <div class="tab-pane" id="h-k">
                    {% include 'brand/includes/brand_tab.html' with start='H' end='K' %}
                </div>
                <div class="tab-pane" id="l-o">
                    {% include 'brand/includes/brand_tab.html' with start='L' end='O' %}
                </div>
                <div class="tab-pane" id="p-s">
                    {% include 'brand/includes/brand_tab.html' with start='P' end='S' %}
                </div>
                <div class="tab-pane" id="t-w">
                    {% include 'brand/includes/brand_tab.html' with start='T' end='W' %}
                </div>
                <div class="tab-pane" id="x-z">
                    {% include 'brand/includes/brand_tab.html' with start='X' end='Z' %}
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
{% endblock %}

{% block common_list_pagination %}
{% endblock %}

{% block common_list_footer_page_script %}
    <script type="text/javascript" src="{% static 'js/brand/brand_list.min.js' %}"></script>
{% endblock %}
